
.clock {
	color: #fff;
	padding: 9px 10px;
	float: right;
	background-color: #333;
	font-size: 13px;
	width: 340px;
	text-align: center;
}

#time,
#date {
	display: inline-block;
}

#time {
	background-color: #fff;
	color: #333;
	padding: 0 10px;
	margin-left: 10px;
	border-radius: 2px;
}

.wrap {
	margin-right: auto;
	margin-left: auto;
	margin-left: 10%;
	margin-right: 10%;
}

/*.wrap:after {
	clear: both;
	content: "";
	display: block;
}*/

.row {
	margin-left: -0.625em;
	margin-right: -0.625em;
}

/*--------------------------------------------------------------*/
.flash-news-holder {
	margin: 20px 0 0;
	position: relative;
}

/*.flash-news:after {
	content: "";
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	right: 1px;
	width: 30px;
	height: 38px;
	top: 1px;
	z-index: 2;
	position: absolute;
}*/

.flash-news {
	float: left;
	position: relative;
	width: calc(100% - 350px);
	overflow: hidden;
}

/*.flash-news-header:after {
	content: "";
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	right: -30px;
	width: 30px;
	height: 38px;
	top: 1px;
	z-index: 999;
	display: inline-block;
	position: absolute;
}*/

.flash-news-header {
	background-color: #EE4930;
	float: left;
	z-index: 2;
	position: absolute;
	left: 0;
}

.flash-news-title {
	color: #fff;
	height: 40px;
	margin: 0;
	padding: 12px 15px 14px;
	text-transform: uppercase;
	font-size: 14px;
}

/*.marquee:before {
 background-color: #333;
 content: "";
 width: 100%;
 top: 0;
 bottom: 0;
}
*/
.marquee {
	background-color: #fff;
	border: 1px solid #e7e7e7;
	height: 40px;
	overflow: hidden;
	width: 100%;
}
/*
.marquee .news-post-img img {
	border-radius: 5px;
	height: 30px;
	width: 40px;
	margin-right: 3px;
}*/


.marquee .news-post-title {
	margin-right: 15px;
	display: inline-block;
	margin-top: 4px;
}
/*
.marquee .news-post-title h3 {
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	letter-spacing: 0.2px;
}
*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.flash-news-holder:before,
.flash-news-holder:after,
.flash-news:before,
.flash-news:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.flash-news-holder:after,
.recent-posts-wrap:after,
.flash-news:after {
	clear: both;
}


@media only screen and (max-width: 1200px) { 
	.wrap {
		margin-left: 5%;
		margin-right: 5%;
	}

	.clock {
		font-size: 12px;
		right: 20px;
	}

	#time {
		height: auto;
	}

@media only screen and (max-width: 1024px) { 
	.wrap {
		max-width: 94%;
		margin: 0 auto;
	}


@media only screen and (max-width: 960px) {

	.flash-news {
		width: 100%;
	}

	.clock {
		display: none;
	}

}

@media only screen and (max-width: 500px) {
	
	.flash-news-header {
		display: none;
	}

	.flash-news-holder {
		margin-top: 10px;
	}

}
