.uabb-info-circle-wrap {
	margin: auto;
	width: 100%;
	height: 500px;
	max-width: 100%;
	position: relative;
	box-sizing: border-box;
}
.uabb-info-circle-in {
	width: 60%;
	height: 60%;
	left: 50%;
	top: 50%;
	overflow: hidden;
	display: none;
}
.active .uabb-info-circle-in {
	display: block;
}
.uabb-info-circle-icon-content .uabb-info-circle-content {
	z-index: 1;
}
.uabb-info-circle-wrap .uabb-info-circle-content {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	text-align: center;
	width: 100%;
	-webkit-transition: inherit;
	transition: inherit;
}
.uabb-info-circle-wrap .uabb-info-circle-desc p:last-of-type {
	margin-bottom: 0;
}
.uabb-module-content .uabb-text-editor *:not(a) {
	color: inherit;
}
.uabb-module-content .uabb-text-editor *:not(i) {
	font-family: inherit;
}
.uabb-module-content .uabb-text-editor *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-size: inherit;
	line-height: inherit;
}
.uabb-module-content .uabb-text-editor *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(strong):not(b):not(i) {
	font-weight: inherit;
}
.uabb-info-circle-wrap .uabb-info-circle,
.uabb-info-circle-wrap:before {
	border-radius: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.uabb-info-circle-wrap .uabb-info-circle-out {
	width: 80%;
	height: 80%;
	left: 50%;
	top: 50%;
}
.uabb-info-circle-wrap:before {
	content: ' ';
	width: calc(80% + 1px);
	height: calc(80% + 1px);
	left: 50%;
	top: 50%;
	z-index: 1;
	position: absolute;
	pointer-events: none;
}
.uabb-info-circle .uabb-imgicon-wrap {
	display: block;
	height: 100%;
	position: relative;
}
.uabb-info-circle .uabb-icon-wrap {
	border-radius: 50%;
}
.uabb-info-circle .uabb-icon i {
	display: inline-block;
}
.uabb-info-circle-wrap .uabb-image .uabb-photo-img,
.uabb-info-circle-wrap .uabb-icon-wrap i,
.uabb-info-circle-wrap .uabb-icon-wrap i:before {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	box-sizing: content-box;
}
.uabb-info-circle .uabb-imgicon-wrap .uabb-photo-img {
	max-width: none;
}
.uabb-info-circle-small {
	z-index: 2;
}
.change-img .uabb-imgicon-wrap:last-child,
.active .change-img .uabb-imgicon-wrap:first-child {
	display: none;
}
.active .change-img .uabb-imgicon-wrap:last-child {
	display: block;
}
.fl-node-5d417ba098a87 .uabb-circle-1 .uabb-imgicon-wrap {
	text-align: center;
}
.fl-node-5d417ba098a87 .uabb-circle-1 .uabb-image .uabb-photo-img {
	width: 200px;
}
.fl-node-5d417ba098a87 .uabb-circle-1 .uabb-image .uabb-image-content {}@media (max-width: 992px) {
	.fl-node-5d417ba098a87 .uabb-circle-1 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-circle-1 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5d417ba098a87 .active .uabb-circle-1 .uabb-icon i,
.fl-node-5d417ba098a87 .active .uabb-circle-1 .uabb-icon i:before {
	background: ;
	color: ;
}
.fl-node-5d417ba098a87 .uabb-circle-1 {
	left: 50%;
	top: 10%;
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-ic-1 {}
}
.fl-node-5d417ba098a87 .uabb-circle-2 .uabb-imgicon-wrap {
	text-align: center;
}
.fl-node-5d417ba098a87 .uabb-circle-2 .uabb-image .uabb-photo-img {
	width: 200px;
}
.fl-node-5d417ba098a87 .uabb-circle-2 .uabb-image .uabb-image-content {}@media (max-width: 992px) {
	.fl-node-5d417ba098a87 .uabb-circle-2 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-circle-2 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5d417ba098a87 .active .uabb-circle-2 .uabb-icon i,
.fl-node-5d417ba098a87 .active .uabb-circle-2 .uabb-icon i:before {
	background: ;
	color: ;
}
.fl-node-5d417ba098a87 .uabb-circle-2 {
	left: 88.042260651806%;
	top: 37.639320225002%;
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-ic-2 {}
}
.fl-node-5d417ba098a87 .uabb-circle-3 .uabb-imgicon-wrap {
	text-align: center;
}
.fl-node-5d417ba098a87 .uabb-circle-3 .uabb-image .uabb-photo-img {
	width: 200px;
}
.fl-node-5d417ba098a87 .uabb-circle-3 .uabb-image .uabb-image-content {}@media (max-width: 992px) {
	.fl-node-5d417ba098a87 .uabb-circle-3 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-circle-3 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5d417ba098a87 .active .uabb-circle-3 .uabb-icon i,
.fl-node-5d417ba098a87 .active .uabb-circle-3 .uabb-icon i:before {
	background: ;
	color: ;
}
.fl-node-5d417ba098a87 .uabb-circle-3 {
	left: 73.511410091699%;
	top: 82.360679774998%;
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-ic-3 {}
}
.fl-node-5d417ba098a87 .uabb-circle-4 .uabb-imgicon-wrap {
	text-align: center;
}
.fl-node-5d417ba098a87 .uabb-circle-4 .uabb-image .uabb-photo-img {
	width: 200px;
}
.fl-node-5d417ba098a87 .uabb-circle-4 .uabb-image .uabb-image-content {}@media (max-width: 992px) {
	.fl-node-5d417ba098a87 .uabb-circle-4 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-circle-4 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5d417ba098a87 .active .uabb-circle-4 .uabb-icon i,
.fl-node-5d417ba098a87 .active .uabb-circle-4 .uabb-icon i:before {
	background: ;
	color: ;
}
.fl-node-5d417ba098a87 .uabb-circle-4 {
	left: 26.488589908301%;
	top: 82.360679774998%;
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-ic-4 {}
}
.fl-node-5d417ba098a87 .uabb-circle-5 .uabb-imgicon-wrap {
	text-align: center;
}
.fl-node-5d417ba098a87 .uabb-circle-5 .uabb-image .uabb-photo-img {
	width: 200px;
}
.fl-node-5d417ba098a87 .uabb-circle-5 .uabb-image .uabb-image-content {}@media (max-width: 992px) {
	.fl-node-5d417ba098a87 .uabb-circle-5 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-circle-5 .uabb-imgicon-wrap {
		text-align: ;
	}
}
@media(max-width: 992px) {}@media(max-width: 768px) {}.fl-node-5d417ba098a87 .active .uabb-circle-5 .uabb-icon i,
.fl-node-5d417ba098a87 .active .uabb-circle-5 .uabb-icon i:before {
	background: ;
	color: ;
}
.fl-node-5d417ba098a87 .uabb-circle-5 {
	left: 11.957739348194%;
	top: 37.639320225002%;
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-ic-5 {}
}
.fl-node-5d417ba098a87 .uabb-info-circle-wrap .uabb-info-circle-content {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}
.fl-node-5d417ba098a87 .uabb-info-circle-small .uabb-icon-wrap i,
.fl-node-5d417ba098a87 .uabb-info-circle-small .uabb-image .uabb-photo-img {
	box-sizing: content-box;
	border: 15px solid #ffffff;
}
.fl-node-5d417ba098a87 .active .uabb-info-circle-small .uabb-icon-wrap i,
.fl-node-5d417ba098a87 .active .uabb-info-circle-small .uabb-image .uabb-photo-img {
	border-color: #ffffff;
}
.fl-node-5d417ba098a87 .uabb-info-circle-small .uabb-image .uabb-photo-img {
	background-color: #ffffff;
}
.fl-node-5d417ba098a87 .active .uabb-info-circle-small .uabb-image .uabb-photo-img {
	background-color: #ffffff;
}
.fl-node-5d417ba098a87 .uabb-info-circle-wrap:before {
	border: 4px solid #8fcc11;
}
.fl-node-5d417ba098a87 .uabb-info-circle-in {
	width: 60%;
	height: 60%;
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-info-circle .uabb-imgicon-wrap .uabb-image {
		display: inline-block;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-wrap {
		height: auto !important;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-in {
		background: none;
		display: block !important;
		opacity: 1 !important;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-in .uabb-info-circle-content {
		padding: 0;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-small .uabb-icon-wrap .uabb-icon i,
	.fl-node-5d417ba098a87 .uabb-info-circle-small .uabb-icon-wrap .uabb-icon i:before,
	.fl-node-5d417ba098a87 .uabb-info-circle-small .uabb-image .uabb-photo-img {
		font-size: 100px;
		line-height: 200px;
		height: 200px;
		width: 200px;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-icon-content {
		padding: 20px;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-icon-content:not(:last-child) {
		margin-bottom: 20px
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-content .uabb-imgicon-wrap,
	.fl-node-5d417ba098a87 .uabb-info-circle-out,
	.fl-node-5d417ba098a87 .uabb-info-circle-wrap:before {
		display: none;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-in,
	.fl-node-5d417ba098a87 .uabb-info-circle-small,
	.fl-node-5d417ba098a87 .uabb-info-circle-in .uabb-info-circle-content {
		position: static;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		width: 100%;
		border-radius: 0;
		opacity: 1;
		-webkit-transition: none;
		transition: none;
	}
	.fl-node-5d417ba098a87 .uabb-info-circle-small {
		margin-bottom: 15px;
	}
}
.fl-node-5d417ba098a87 h4.uabb-info-circle-title {
	margin-top: 0px;
	margin-bottom: 20px;
}
.fl-node-5d417ba098a87 .uabb-info-circle-desc {
	margin-top: 20px;
	margin-bottom: 0px;
}
@media (max-width: 992px) {
	.fl-node-5d417ba098a87 .uabb-info-circle-wrap .uabb-info-circle-content {}
}
@media (max-width: 768px) {
	.fl-node-5d417ba098a87 .uabb-info-circle-wrap .uabb-info-circle-content {}
}
.uabb-icon-wrap {
	display: inline-block;
}
.uabb-icon a {
	text-decoration: none;
}
.uabb-icon i {
	display: block;
}
.uabb-icon i:before {
	border: none !important;
	background: none !important;
}
.uabb-icon-text {
	display: table-cell;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}
.uabb-icon-text *:last-child {
	margin: 0 !important;
	padding: 0 !important;
}
.uabb-icon-text a {
	text-decoration: none;
}
.uabb-photo {
	line-height: 0;
	position: relative;
	z-index: 2;
}
.uabb-photo-align-left {
	text-align: left;
}
.uabb-photo-align-center {
	text-align: center;
}
.uabb-photo-align-right {
	text-align: right;
}
.uabb-photo-content {
	border-radius: 0;
	display: inline-block;
	line-height: 0;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}
.uabb-photo-content img {
	border-radius: inherit;
	display: inline;
	height: auto;
	max-width: 100%;
	width: auto;
}
.fl-builder-content .uabb-photo-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.uabb-imgicon-wrap .uabb-icon {
	display: block;
}
.uabb-imgicon-wrap .uabb-icon i {
	float: none;
}
.uabb-imgicon-wrap .uabb-image {
	line-height: 0;
	position: relative;
}
.uabb-imgicon-wrap .uabb-image-align-left {
	text-align: left;
}
.uabb-imgicon-wrap .uabb-image-align-center {
	text-align: center;
}
.uabb-imgicon-wrap .uabb-image-align-right {
	text-align: right;
}
.uabb-imgicon-wrap .uabb-image-content {
	display: inline-block;
	border-radius: 0;
	line-height: 0;
	position: relative;
	max-width: 100%;
}
.uabb-imgicon-wrap .uabb-image-content img {
	display: inline;
	height: auto !important;
	max-width: 100%;
	width: auto;
	border-radius: inherit;
	box-shadow: none;
	box-sizing: content-box;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}